body {
	background-color: #E2F0D6; 
	color: #10222B;
	padding: 20px;
	font-family: Helvetica, Arial, serif;
}

h1, h2, h3, h4 {
	padding: inherit;
}

h1

h2

h3

h4

p

ol

li

aside

figure

figurecaption

a

a:hover


#top

#main_nav

#species

#phisical_description

#diet

#domesticated_hedgehogs

#gallery





/*
h1, h2, h3, a {
	font-weight: normal;
}

h1 {
	font-family: Georgia, Times, serif;
	color: #95AB63;
	text-shadow: 2px 2px 4px #E2F0D6;
	
}

h2	{
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
}

h3	{
	font-size: 1.5em;
	font-weight: normal;
}

p	{
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4;
}

#intro {
	font-weight: bold;
}

#credits {
	text-align: right;
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
*/
