p#four	{
	color: #f2f0eb;
	background-color: #25064c;
}

p#three {
	color: #f4f5f0;
	background-color: #36175e;
}

p#two	{
	color: f0eee9;
	background-color: #553285;
}

p#one {
	color: #e7e9e7;
	background-color: #7b52ab;
}

p#zero {
	color: #d0d0da;
	background-color: #9768d1;
}